body {
  background-color: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.layout {
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 1500px) {
  .layout {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 770px) {
  .layout {
    padding-left: 20px;
    padding-right: 20px;
  }
}